In [76]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [4]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [6]:
housing = pd.concat([train, test])

In [7]:
housing

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [8]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

## PoolQC

In [9]:
housing.groupby('PoolQC').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
PoolQC,,,,,,,,,,,,,,,,,,,,,
Ex,4,4,4,4,4,4,0,4,4,4,...,4,4,2,0,4,4,4,4,4,2
Fa,2,2,2,2,2,2,0,2,2,2,...,2,2,2,1,2,2,2,2,2,2
Gd,4,4,4,3,4,4,0,4,4,4,...,4,4,3,0,4,4,4,4,4,3

In [10]:
housing.loc[housing.PoolQC=='Ex', 'PoolQC'] = 4

In [11]:
housing.loc[housing.PoolQC=='Gd', 'PoolQC'] = 3

In [12]:
housing.loc[housing.PoolQC=='Fa', 'PoolQC'] = 1

In [13]:
housing['PoolQC'] = housing['PoolQC'].fillna(0)

In [14]:
housing.groupby('PoolQC').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
PoolQC,,,,,,,,,,,,,,,,,,,,,
0,2909,2909,2905,2424,2909,2909,198,2909,2909,2907,...,2909,2909,564,104,2909,2909,2909,2908,2909,1453
1,2,2,2,2,2,2,0,2,2,2,...,2,2,2,1,2,2,2,2,2,2
3,4,4,4,3,4,4,0,4,4,4,...,4,4,3,0,4,4,4,4,4,3
4,4,4,4,4,4,4,0,4,4,4,...,4,4,2,0,4,4,4,4,4,2

## GarageType

In [60]:
housing['GarageType'].isnull().sum()

157

In [62]:
housing['GarageType'] = housing['GarageType'].fillna('No Garage')

In [64]:
housing.groupby('GarageType').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageType,,,,,,,,,,,,,,,,,,,,,
2Types,23,23,23,18,23,23,2,23,23,23,...,23,23,7,0,23,23,23,23,23,6
Attchd,1723,1723,1721,1393,1723,1723,33,1723,1723,1722,...,1723,1723,310,67,1723,1723,1723,1722,1723,870
Basment,36,36,36,26,36,36,1,36,36,36,...,36,36,8,2,36,36,36,36,36,19
BuiltIn,186,186,186,140,186,186,2,186,186,186,...,186,186,14,6,186,186,186,186,186,88
CarPort,15,15,15,12,15,15,0,15,15,15,...,15,15,0,2,15,15,15,15,15,9
Detchd,779,779,777,698,779,779,139,779,779,778,...,779,779,205,21,779,779,779,779,779,387
No Garage,157,157,157,146,157,157,21,157,157,157,...,157,157,27,7,157,157,157,157,157,81

In [82]:
housing[housing['GarageType']=='No Garage']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,6,2008,WD,AdjLand,82000.0
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,6,2009,New,Partial,113000.0
78,79,90,RL,72.0,10778,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,4,2010,WD,Normal,136500.0
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,0,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000.0
89,90,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,8,2007,WD,Normal,123600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,2894,50,C (all),60.0,8520,Grvl,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,0,4,2006,WD,Normal,NaN
1449,2910,180,RM,21.0,1470,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,4,2006,WD,Normal,NaN
1453,2914,160,RM,21.0,1526,Pave,NaN,Reg,Lvl,AllPub,...,0,0,GdPrv,NaN,0,6,2006,WD,Normal,NaN
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,0,6,2006,WD,Normal,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,MnPrv,Shed,700,7,2006,WD,Normal,NaN

## GarageYrBlt

In [86]:
housing[housing['GarageYrBlt'].isna()].groupby('GarageType').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageType,,,,,,,,,,,,,,,,,,,,,
Detchd,2,2,2,2,2,2,1,2,2,2,...,2,2,2,1,2,2,2,2,2,0
No Garage,157,157,157,146,157,157,21,157,157,157,...,157,157,27,7,157,157,157,157,157,81

## GarageFinish

In [89]:
housing[housing['GarageFinish'].isna()].groupby('GarageType').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageType,,,,,,,,,,,,,,,,,,,,,
Detchd,2,2,2,2,2,2,1,2,2,2,...,2,2,2,1,2,2,2,2,2,0
No Garage,157,157,157,146,157,157,21,157,157,157,...,157,157,27,7,157,157,157,157,157,81

## GarageCars

In [18]:
housing.groupby('GarageCars').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageCars,,,,,,,,,,,,,,,,,,,,,
0.0,158,158,158,147,158,158,21,158,158,158,...,158,158,28,7,158,158,158,158,158,81
1.0,776,776,773,681,776,776,63,776,776,775,...,776,776,261,39,776,776,776,775,776,369
2.0,1594,1594,1593,1259,1594,1594,105,1594,1594,1593,...,1594,1594,261,58,1594,1594,1594,1594,1594,824
3.0,374,374,374,334,374,374,7,374,374,374,...,374,374,17,1,374,374,374,374,374,181
4.0,16,16,16,11,16,16,2,16,16,16,...,16,16,4,0,16,16,16,16,16,5
5.0,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,0

In [16]:
housing['GarageCars'] = housing['GarageCars'].fillna(0)

In [94]:
housing['GarageCars'].iloc[1116]

2.0

## GarageArea

In [28]:
housing.groupby('GarageType').mean()['GarageArea']['Detchd']

419.49228791773777

In [41]:
housing.groupby('GarageArea').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageArea,,,,,,,,,,,,,,,,,,,,,
0.0,157,157,157,146,157,157,21,157,157,157,...,157,157,27,7,157,157,157,157,157,81
100.0,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,0
160.0,3,3,3,3,3,3,0,3,3,3,...,3,3,0,0,3,3,3,3,3,2
162.0,2,2,2,2,2,2,1,2,2,2,...,2,2,0,0,2,2,2,2,2,0
164.0,2,2,2,1,2,2,1,2,2,2,...,2,2,0,0,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348.0,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,0
1356.0,1,1,1,0,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,1
1390.0,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,1
1418.0,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,1
1488.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,0

In [35]:
housing[housing['GarageArea'].isna()]['GarageType']

1116    Detchd
Name: GarageType, dtype: object

In [42]:
housing['GarageArea']

0       548.0
1       460.0
2       608.0
3       642.0
4       836.0
        ...
1454      0.0
1455    286.0
1456    576.0
1457      0.0
1458    650.0
Name: GarageArea, Length: 2919, dtype: float64

In [54]:
housing['GarageArea'] = housing['GarageArea'].fillna(housing.groupby('GarageType').mean()['GarageArea']['Detchd'])

In [57]:
housing['GarageArea'][1116]

1116    527.000000
1116    419.492288
Name: GarageArea, dtype: float64

## GarageQual

In [106]:
housing['GarageQual']

0        TA
1        TA
2        TA
3        TA
4        TA
       ...
1454    NaN
1455     TA
1456     TA
1457    NaN
1458     TA
Name: GarageQual, Length: 2919, dtype: object

In [108]:
housing[housing['GarageType']=='Detchd'].groupby('GarageQual').mean()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold,SalePrice
GarageQual,,,,,,,,,,,,,,,,,,,,,
5,405.333333,41.666667,77.000000,12983.333333,7.000000,7.000000,1930.333333,1969.000000,0.000000,338.333333,...,95.000000,0.000000,0.000000,136.666667,0.000000,0.000000,150.000000,6.000000,2007.666667,241000.000000
Fa,1707.855670,50.463918,60.021505,8562.989691,4.989691,5.958763,1923.886598,1966.690722,2.350515,109.876289,...,27.278351,78.123711,2.989691,14.041237,0.000000,0.000000,24.742268,6.092784,2007.639175,123760.459459
Gd,1157.600000,77.000000,59.000000,9244.000000,6.200000,7.000000,1917.400000,2000.800000,0.000000,207.200000,...,121.000000,62.800000,0.000000,0.000000,0.000000,0.000000,0.000000,5.800000,2007.600000,183962.500000
Po,1044.400000,73.000000,59.200000,8726.600000,5.000000,5.000000,1920.000000,1960.000000,0.000000,0.000000,...,12.000000,44.800000,0.000000,0.000000,0.000000,0.000000,0.000000,5.800000,2007.400000,100166.666667
TA,1441.974513,62.218891,59.193220,8223.577211,5.322339,5.968516,1949.623688,1974.209895,52.889055,298.195195,...,29.314843,34.649175,1.208396,10.563718,0.767616,0.005997,20.734633,6.290855,2007.851574,133984.685294

In [100]:
housing[housing['GarageQual'].isna()].groupby('GarageType').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageType,,,,,,,,,,,,,,,,,,,,,
Detchd,2,2,2,2,2,2,1,2,2,2,...,2,2,2,1,2,2,2,2,2,0
No Garage,157,157,157,146,157,157,21,157,157,157,...,157,157,27,7,157,157,157,157,157,81

In [107]:
housing.loc[housing.GarageQual=='Ex', 'GarageQual'] = 5